:root {
    --Color-Principal: rgb(58, 58, 211);
    --Color-Principal-Oscuro: rgb(0, 0, 156);
    --Color-Secundario: white;
    --Color-Contraste: rgb(129, 129, 129);
    --Text-Size1: 20px;
}

#LoadingScreen {
    z-index: 1000;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--Color-Principal);
    display: none;
}

#logoLoadinScreen {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    height: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}